<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><i class="fa-solid fa-cart-plus fs-3x ms-4"></i><span class=" fw-bolder me-2 fs-4 ms-2">Drop Cart</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item mt-3 me-5">
            <form class="w-full">
           <input style="width: 400px;" type="search" class="form-control me-2" placeholder="Search all products here...!" area-label="search" [(ngModel)]="searchTerm" (keyup)="search($event)">
           
                
            </form>
        </li>
           <li routerLink="product/cart" class="w-40 flex justify-center items-center mt-3" >
            <button class="h-10 p-2 d-flex justify-center items-center" style="background-color: transparent; border-radius: 10px;">
                <i class="fa-solid fa-cart-shopping text-xl ps-2 pe-2 pt-1"></i>
                <div class="bg-red-600 text-danger text-xs w-3 rounded-full pe-2">{{totalItem}}</div>
            </button>
        </li>
          <li class="nav-item">
            <a class="btn me-4 ms-5 mt-3" routerLink="login"><i class="fa-solid fa-user me-2" type="submit"></i>Login</a>
          </li>

           
          
        </ul>
      </div>
    </div>
  </nav>
