<app-head></app-head>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="viewProduct.image" alt="..."  height="600vh"/></div>
            <div class="col-md-6">
                <div class="small mb-1">{{viewProduct._id}}</div>
                <h1 class="display-5 fw-bolder">{{viewProduct.title}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">{{viewProduct.price}}</span>
                    <span>$40.00</span>
                </div>
                <p class="lead">{{viewProduct.description}}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark align-items-center" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Buy Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
